body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 18px;
  font-style: italic;
}
p {
  color: #333;
}

p:nth-last-of-type(1) {
  font-size: 14px;
  font-style: italic;
}
